<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.project.proc.Board" >
<!--    <select id="login" resultType="com.smart.project.web.home.vo.MemberVO" parameterType="com.smart.project.web.home.vo.MemberVO">-->
<!--        SELECT * FROM t_member-->
<!--        where mb_id=#{mbId} and mb_pw=#{mbPw};-->
<!--    </select>-->

    <insert id="uploadPhoto" parameterType="com.smart.project.web.home.vo.BoardVO">
        INSERT INTO photo
        VALUES (null, #{innerPath}, #{outPath}, NOW());
    </insert>

</mapper>